<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty API - Vue.js</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <button @click="fetchCharacters" :disabled="loading">Carregar Personagens</button>
        <input type="text" v-model="searchText" placeholder="Informe o nome do personagem">
        <div class="character-container">
            <ul>
                <li v-for="character in filteredCharacters" :key="character.id" :class="getStatusClass(character.status)" @click="showCharacterDetails(character)">
                    <div class="character-card">
                        <img :src="character.image" alt="">
                        <p>{{ character.name }}</p>
                        <div v-if="character.showDetails" class="details">
                            <p>Status: {{ character.status }}</p>
                            <p>Espécie: {{ character.species }}</p>
                            <p>Gênero: {{ character.gender }}</p>
                        </div>
                    </div>
                </li>
            </ul>
            <button v-if="filteredCharacters.length > 0" @click="fetchCharacters" :disabled="loading" class="load-more">Carregar mais</button>
        </div>
        <div v-if="loading" class="loading">Carregando...</div>
    
        <div v-if="selectedCharacter" class="modal">
            <div class="modal-content">
                <span class="close" @click="selectedCharacter = null">&times;</span>
                <h2>{{ selectedCharacter.name }}</h2>
                <img :src="selectedCharacter.image" alt="">
                <p>Status: {{ selectedCharacter.status }}</p>
                <p>Espécie: {{ selectedCharacter.species }}</p>
                <p>Gênero: {{ selectedCharacter.gender }}</p>
                <p>Origem: {{ selectedCharacter.origin.name }}</p>
                <p>Localização: {{ selectedCharacter.location.name }}</p>
            </div>
        </div>
    </div>
    
    <script src="index.js"></script>
</body>
</html>
